<h2>Sign up for a lesson!</h2>

{{#if message.success}}
    <div class = "success notice">
        <p>{{ message.success }}</p>
    </div>
{{/if}}

<p>Description of lessons</p>

{{#if user }}
<p>Please enter the following information to request a lesson.</p>

    <div class="container">
        <form method = "POST" action="/basic/lesson" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="usr">First name: </label>
                <input class="form-control" name="firstName" type="text" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="usr">Last name: </label>
                <input class="form-control" name="lastName" type="text" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="email">Email Address: </label>
                <input class="form-control" name="email" type="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <label for="tel">Telephone: </label>
                <input class="form-control" name="usrtel" type="tel" placeholder="Telephone Number">
            </div>
            <div class="form-group">
                <label for="instrument">Instrument: </label>
                <select name="type">
                    <option name="violin" type="checkbox">Violin</option>
                    <option name="viola" type="checkbox">Viola</option>
                    <option name="piano" type="checkbox">Piano</option>
                </select>
            </div>
            <div class="form-group">
                <label>Length of Lesson (in minutes): </label>
                <select name="length">
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="60">60</option>
                </select>
            </div>
            <div class="form-group">
                <label>Start Date: </label>
                <input name="date" type="date" placeholder="Starting Date">
            </div>
            <div class="form-group">
                <label>Select Time: </label>
                <input name="time" type="time" placeholder="Time">
            </div>
            <div class="form-group">
                <label>Where: </label>
                <div action="">
                    <input type="radio" name="where" value="in-home">In-Home Lesson <br>
                    <input type="radio" name="where" value="olivia-home">Olivia-Home Lesson <br>
                </div>
            </div>
            <button class="btn btn-default">Request</button>
        </form>
    </div>

{{else }}
    <p>Please <a href="/user/login">sign in</a> to request a lesson</p>
{{/if}}
