<body id="video">
    <h4>videos</h4>

    <!-- Schulhoff -->
    <p>Gaio Quartet Performing Schulhoff's Concerto for String Quartet and Wind Orchestra<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2OM-PUCo-Zg" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/L6eJozbLf6w" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/t0xRqC8alTo" frameborder="0" allowfullscreen></iframe></p>

    <!-- rolling in the deep -->
    <p>Simply Three playing Rolling in the Deep<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tt2NIDtp-Ls" frameborder="0" allowfullscreen></iframe></p>

    <!-- vivaldi -->
    <p>Olivia performing Vivaldi's "Winter" with The Four Season's Orchestra<br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/laISFcWAHEY" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/dVEjhyxLyds" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/LZoUwVvgL7U" frameborder="0" allowfullscreen></iframe></p>

    <!-- moonitz recita -->
    <p>Gaio Quartet performing Mozart and von Weber at Olivia Moonitz's recital<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z5rSwiI2Fy4" frameborder="0" allowfullscreen></iframe></p>

    <!-- fiddling -->
    <p>Olivia competing in the Idaho Open Fiddle Contest with her cousin, Katherine Beck<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HYmjYpUdAWE" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/X1v2XxHR0A4" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/mdCadJEkVvY" frameborder="0" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/0JiWqb_K01Q" frameborder="0" allowfullscreen></iframe></p>

    <!-- brilliance -->
    <p>The Brilliance music video with friends<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OvRVFd2NmMY" frameborder="0" allowfullscreen></iframe></p>


</body>
