<h2>Lesson List</h2>

<p class="admin">Welcome Admin, here you may create, edit and delete your current lessons. When a student requests a lesson, it will show up here but will not show up on the site's lesson page or their profile until you approve their request and change the lesson to Active. Any changes will then show up on the calendar on your website for your students to view. <br>

<button ng-click="lessonController.goToPage ('lesson-create')">Create Lesson</button>
<button ng-click="lessonController.read ()">View Lessons</button>

</p>

<div class="lessons">
    <ul>
        <li ng-repeat="lesson in lessonController.list">
            <table border="1">
                <tr>
                    <th>Name: </th>
                    <td><a href="#" ng-click="lessonController.goToPage('lesson-view', {id: lesson._id})">{{ lesson.firstName }} {{ lesson.lastName }}</a></td>
                </tr>
                <tr>
                    <th>Day: </th>
                    <td>{{ lesson.day }}</td>
                </tr>
                <tr>
                    <th>Time: </th>
                    <td>{{ lesson.time }}</td>
                </tr>
            </table>
        </li>
    </ul>
</div>
