@color-01: #669683;
@color-02: lightgray;
@color-03: black;
@color-04: #341f25;

body#bio {
    background-color: @color-02;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;

}
body#gallery {
    background-color: @color-02;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    img {
        display: block;
        margin: auto;
        padding: 10px;
    }

}

body#home {
    background-image: url('/images/A6643766.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body#lessons {
    background-color: @color-02;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding: 10px;
    .list {
        padding-right: 200px;
        padding-left: 200px;
    }
    p {
        padding-right: 200px;
        padding-left: 200px;
    }
    p#enter {
        padding-right: 400px;
    }
}

body.login {
    background-image: url('/images/IMG_1514.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .container {
        opacity: 0.5;
        input {
            background-color: @color-03;
            width: 300px;
        }
        button {
            float: left;
            width: 300px;
        }
        p {
            float: left;
        }
    }
}

body.profile {
    background-color: @color-02;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
body.users {
    background-color: @color-02;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
        a.btn-primary {
            background-color: @color-01;
        }
}

body#register {
    background-image: url('/images/A6643767.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .container {
        opacity: 0.5;
        input {
            background-color: @color-03;
            width: 300px;
        }
        button {
            float: left;
            width: 300px;
        }
    }
}

body.reset {
    background-color: @color-02;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    .container {
        opacity: 0.5;
        input {
            background-color: @color-03;
            width: 300px;
        }
        button {
            float: left;
            width: 300px;
        }
    }
}

button#load {
    background-color: @color-01;

}

div.container {
    padding: 20px;
    text-align: center;
}

div.edit {
    font-size: 20px;
    opacity: 0.5;
    color: @color-03;
    font-family: 'Josefin Sans';
    padding: 70px;
}

div#lessons {
    background-color: @color-01;
    text-align: center;
}

div.list {
    // visibility: hidden;
}

div.lessons {
    font-size: 20px;
    opacity: 0.5;
    color: @color-03;
    font-family: 'Josefin Sans';
    padding-left: 50px;
}

div.select {
    text-align: center;
}

div.view {
    font-size: 20px;
    opacity: 0.5;
    color: @color-03;
    font-family: 'Josefin Sans';
    padding-left: 70px;
}

h2 {
    font-size: 80px;
    opacity: 0.5;
    color: @color-03;
    font-family: 'Josefin Sans';
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 20px;

}
.homepage {
    height: 100vh;
    background-image: url('/images/A6643766.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


nav {
    opacity: 0.5;
    font-family: 'Josefin Sans';
    font-size: 18px;
    text-align: center;
    a:hover {
        text: @color-01;
    }
}

p.admin {
    font-size: 20px;
    opacity: 0.5;
    color: @color-03;
    font-family: 'Josefin Sans';
    padding-left: 70px;
}


p#please {
    text-align: center;
}

//----------------------------------
//Mobile responsive area
@large-size: 1024px;
@medium-size: 768px;
@small-size: 640px;

@media screen and (max-width: @medium-size) {
    nav {
        // border: 5px solid red !important;
        a {
            float: left;
            margin-right: 0;
        }
    }
    body#lessons {
        p {
            padding-left: 2px;
            padding-right: 2px;
        }
        div.list {
            padding-left: 6px;
            padding-right: 6px;
        }

    }
}

@media screen and (max-width: @small-size) {
    nav {
        a {
            font-size: 14px;
        }
    }
    h2 {
        font-size: 50px;
        padding-left: 20px;
    }
}
