
body {
    padding: 70px;

}

body#home {
    background-image: url('/images/A6643766.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body#bio {
    // background-image: url('/images/A6643767.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 100%;
    // width: 100%;
    // p {
    //     color: black;
    // }
    background-color: lightgray;
}

body#lessons {
    background-color: lightgray;
    font-family: 'Josefin Sans';
    font-size: 18px;
}

h2 {
    font-size: 80px;
    opacity: 0.5;
    color: black;
    font-family: 'Josefin Sans';

}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 300px;
    }
}

nav {
    opacity: 0.5;
    font-family: 'Josefin Sans';
    font-size: 18px;
    text-align: center;
    a:hover {
        text: #4f7f6d;
    }
}
