body#bio {
    background-color: lightgray;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;

}
body#gallery {
    background-color: lightgray;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;

}

body#home {
    background-image: url('/images/A6643766.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body#lessons {
    background-color: lightgray;
    font-family: 'Josefin Sans';
    font-size: 18px;
    padding: 10px;
    .list {
        padding-right: 200px;
        padding-left: 200px;
    }
    p {
        padding-right: 200px;
        padding-left: 200px;
    }
    p#enter {
        padding-right: 400px;
    }
}

body.login {
    background-image: url('/images/IMG_1514.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        opacity: 0.5;
        input {
            background-color: black;
            width: 300px;
        }
        button {
            float: left;
            width: 300px;
        }
    }
}

body#register {
    background-image: url('/images/A6643767.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        opacity: 0.5;
        input {
            background-color: black;
            width: 300px;
        }
        button {
            float: left;
            width: 300px;
        }
    }
}

button#load {
    background-color: #669683;

}

div.container {
    padding: 20px;
    text-align: center;
}

div.edit {
    font-size: 20px;
    opacity: 0.5;
    color: black;
    font-family: 'Josefin Sans';
    padding: 70px;
}

div#lessons {
    background-color: #669683;
    text-align: center;
}

div.list {
    // visibility: hidden;
}

div.lessons {
    font-size: 20px;
    opacity: 0.5;
    color: black;
    font-family: 'Josefin Sans';
    padding-left: 50px;
}

div.select {
    text-align: center;
}

div.view {
    font-size: 20px;
    opacity: 0.5;
    color: black;
    font-family: 'Josefin Sans';
    padding-left: 70px;
}

h2 {
    font-size: 80px;
    opacity: 0.5;
    color: black;
    font-family: 'Josefin Sans';
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 20px;

}
.homepage {
    height: 100vh;
    background-image: url('/images/A6643766.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 300px;
    }
}

nav {
    opacity: 0.5;
    font-family: 'Josefin Sans';
    font-size: 18px;
    text-align: center;
    a:hover {
        text: #4f7f6d;
    }
}

p.admin {
    font-size: 20px;
    opacity: 0.5;
    color: black;
    font-family: 'Josefin Sans';
    padding-left: 70px;
}

p#please {
    text-align: center;
}
