<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Olivia's Website</title>

        <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/style.less" rel="stylesheet" type="text/less" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

        <script src="/lib/less/dist/less.js"></script>
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body ng-app='App'>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin/#/">Home</a></li>
                    <li><a href="/admin/#/lesson">Lessons</a></li>
                    <li><a href="/update">Users</a></li>
                    <li><a href = "/gallery">Gallery</a></li>
                    <li><a href="/">Full Site</a></li>
                    <li><a href = "/user/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div ui-view></div>

        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

        <script src="/js/angular/App.js"></script>
        <script src="/js/angular/HomeController.js"></script>
        <script src="/js/angular/lessons/LessonService.js"></script>
        <script src="/js/angular/lessons/LessonController.js"></script>

    </body>
</html>
